.aside-fabs {
  position: fixed;
  bottom: 8px;
  right: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 5;
}

.fabs-wrapper {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

.fab {
  height: 48px;
  width: 48px;

  padding: 4px;

  background-color: #0573A3;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .aside-fabs {
    display: none;
    height: 0;
    width: 0;
  }
}